@charset "ISO-8859-1";

.login-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: seashell;
}

.login-container{
  background: white;
  box-shadow: 0px 10px 40px rgba(34, 35, 48, 0.5);
  display: flex;
  width:35%;
  flex-direction:column;
  border-radius: 25px;
  position:absolute;
  height:fit-content;
  align-items:center;
}

.login-container h1{
	color:lightcoral;
	font-weight: 500;
	font-size: 40px;
}

.login-container span{
	font-size: 65px;
	font-weight: 800;
}

.login_p1{
	font-size: 20px;
	margin-top: 0%;
}

.login_img{
	width: 25%;
	line-height: 0%;
}

.login_btn{
	font-size: 17px;
	font-weight: 500;
	padding : 3% 28% 3% 28%;
	border-radius: 20px;
	background-color: lightcoral;
	color: white;
	border-style:none;
	margin-bottom: 7%;
	cursor:pointer;
}

.signup{
	font-size: 17px;
	font-weight: 500;
	padding : 3% 28% 3% 28%;
	border-radius: 20px;
	background-color: lightcoral;
	color: white;
	border-style:none;
	margin-bottom: 7%;
	cursor: pointer;
}

.signup_link{
	text-decoration: none;
	list-style: none;
}